<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home Work :: Catalog</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{css/reset.css}" rel="stylesheet" type="text/css">
    <link th:href="@{css/main.css}" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        function requestSubtypes(typeid) {
            $.get("/getSubTypes/"+ typeid , function(data) {
                var htmlToInsert = "<table>";
                $.each(data,function (index, value) {
                    htmlToInsert += "<tr>";
                    htmlToInsert += "<td onclick='requestCatalogs(" + value.id + ")'>" +value.id + "</td>";
                    htmlToInsert += "<td onclick='requestCatalogs(" + value.id + ")'>" +value.name + "</td>";
                    htmlToInsert += "</tr>";
                });
                htmlToInsert = htmlToInsert +"</table>";

                $("#subtypes").html(htmlToInsert);

            });
        }

        function requestCatalogs(subTypeId) {
            $.get("/getCatalogs/SubType/"+ subTypeId , function(data) {
                var htmlToInsert = "";
                $.each(data,function (index, value) {
                    htmlToInsert += "<div class='item'><div><div class='header'>";
                    htmlToInsert += "<div class='typeLink'>" + value.subType + "</div>";
                    htmlToInsert += "<div class='typeTxt'>></div>";
                    htmlToInsert += "<div class='typeLink'>" + value.manufacture + "</div>";
                    htmlToInsert += "</div><div><img class='img' src='img/noImg.jpg'></div>";
                    htmlToInsert += "<div class='name'>" + value.name +"</div>";
                    htmlToInsert += "<div class='description'>" + value.description + "</div>";
                    htmlToInsert += "</div><div><div class='price'>" + value.price + "' €'</div>";
                    htmlToInsert += "<div class='buyBtn'>Buy</div>";
                    htmlToInsert += "</div></div>";

                });

                $(".items").html(htmlToInsert);

            });
        }
    </script>
</head>
<body>
<div class="topHeader">
    <div th:if = "${currentUserName != null}" class="name">
        <span th:text="${currentUserName}"/>
        <a href="/logout">Logout</a>
    </div>
    <div th:unless="${currentUserName != null}">
        <a href="/login">Please login</a>
    </div>
</div>
<div class="row">
    <div class="types">
        <h2>Types:</h2>
        <th:block th:each="item : ${types}">
            <div th:onclick="'requestSubtypes('+ ${item.id} +' )'" th:text="${item.name}"></div>
        </th:block>
    </div>
    <div class="subTypes" id="subtypes"></div>
    <div class="items"></div>
</div>
<!--<div class="items">-->
<!--    <th:block th:each="item : ${catalog}">-->
<!--        <div class="item">-->
<!--            <div>-->
<!--                <div class="header">-->
<!--                    <div class="typeLink" th:text="${item.manufacture}"></div>-->
<!--                    <div class="typeTxt">></div>-->
<!--                    <div class="typeLink" th:text="${item.subType}"></div>-->
<!--                </div>-->
<!--                <div><img class="img" th:src="@{img/noImg.jpg}"></div>-->
<!--                <div class="name" th:text="${item.name}"></div>-->
<!--                <div class="description" th:text="${item.description}"></div>-->
<!--            </div>-->
<!--            <div>-->
<!--                <div class="price" th:text="${item.price} + ' €'"></div>-->
<!--                <div class="buyBtn">Buy</div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </th:block>-->
<!--</div>-->
</body>
</html>
